@import url("https://fonts.googleapis.com/css2?family=Poppins:whgt@400;500;600:900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: linear-gradient(90deg, #c493ff, #fefedf, #d5cabd);
}

nav {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  background-color: transparent;
  padding: 20px;
}

.logo {
  color: #1b1b1b;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

b {
  font-size: 25px;
  color: #7f00ff;
}

.navItems {
  display: flex;
}

.navItems li {
  list-style: none;
  padding: 5px 15px;
}

.navItems li a {
  font-size: 16px;
  color: #1b1b1b;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover {
  color: #036cff;
}

.links a {
  font-size: 24px;
  color: #1b1b1b;
  padding: 0px 8px;
}

/* ------------------------------wrapper --------------------------------*/
.wrapper {
  margin-top: 80px;
  padding-left: 80px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  overflow: hidden;
}

.cols0 {
  flex-basis: 60%;
}

.cols1 {
  flex-basis: 40%;
}

.topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 3px;
  color: #1b1b1b;
}

.topline ::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 20px;
  bottom: 10px;
  background-color: #7f00ff;
}

h1 {
  display: block;
  font-size: 5em;
  font-weight: 900;
  color: #1b1b1b;
}

.multiText {
  color: #7f00ff;
  text-transform: capitalize;
}

p {
  display: block;
  width: 90%;
  font-size: 18px;
  color: #1b1b1b;
}

button {
  border: none;
  cursor: pointer;
  font-size: 12px;
  background: #7f00ff;
  padding: 8px 10px;
  margin: 40px 10px;
  letter-spacing: 1px;
  border-radius: 10px;
  text-transform: capitalize;
}
.btns{
  margin-left: 80px;
}

button:hover {
  background-color: #036cff;
}

.btnclr {
  color: #f3f5f8;
  text-decoration: none;
  font-weight: 500;
}

.imgbox img {
  width: 400px;
  background-color: #c493ff;
  border-radius: 50px;
}